@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-bold';
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-medium';
    src: url(./fonts/Roboto-Medium.ttf);
}


@font-face {
    font-family: 'Yanone';
    src: url(./fonts/YanoneKaffeesatz-Bold.ttf);
}
@font-face {
    font-family: 'Stencil';
    src: url(./fonts/SairaStencilOne-Regular.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    background-color: #333333;
    color: #EBEBEB;
    font-family: "Roboto-medium";
    font-size: 1.1rem;
    /* font-weight: bold; */
}

h1 {
    font-family:  Impact, "Stencil",'Yanone', fantasy;
    font-size: 5rem;
    text-decoration: underline #A65D40;
    user-select: none;
    margin-bottom: 15px;
    /* font-weight: bold; */
}

.orange-background {
    background-color: #ffbc02;
}

#app {
    max-width: 1024px;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 20px;    
    padding-bottom: 20px;
    min-width: 300px;
}

@media screen and (max-width: 500px) {
    #app {
        width: 100%;
        margin-left: 5px;
        padding-left: 5px;
    }

    h1 {
        font-size: 10vw;
    }
}